:root {
  --lm-blue: #1A1446;
  --lm-yellow: #FFD000;
  --lm-yellow-hover: #E6BB00;
  --lm-dark-navy: #002663;
  --lm-white: #FFFFFF;
  --lm-light-gray: #F4F4F4;
  --lm-border: rgba(26, 20, 70, 0.13);
}
